@import '../../../colors.scss';

.side-menu {
    background: $cp2;
    min-width: 320px;
    max-width: 320px;
    height: 100vh;
    box-shadow: 1px 0 2px rgb(177, 177, 177);
    *{
        box-sizing: border-box;
    }
    .brand {
        display: flex;
        flex-flow: row;
        height: 100px;
        padding: 10px;
        .logo {
            height: 70px;
            margin-right: 10px;
        }
        .name {
            color: white;
        }
    }
    .menu {
        overflow: auto;
        background: $cp1;
        height: calc(100% - 120px);
        margin: 10px 0;
        border: 2px solid $cp3;
        box-sizing: border-box;
        .bird-option {
            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 10px;
            border-bottom: 0.5px solid $cp3;
            border-left: 4px solid #ffffff00;
            transition: 0.3s ease-in-out all;
            .bird-icon {
                height: 60px;
                width: 60px;
                border-radius: 10px;
                border: 4px solid $cp3;
            }
            .name {
                margin-left: 10px;
                font-size: 18px;
                font-weight: 600;
            }

            &:hover {
                border-left: 8px solid #ffffff;
                background: $cp2;
            }
            // &:active {
            //     border-left: 8px solid #ffffff;
            //     background: $cp3;
            // }        
        }
        .current {
            border-left: 8px solid #ffffff !important;
            background: $cp3;
        }
    }
}