<div class="side-menu">
    <div class="header">
        <img class="app-logo" src="assets/bird.svg">
        <h2 clas="brand">Bird Tracker</h2>
    </div>
    <div class="menu" #scrollframe (scroll)="onScroll()">
    <div class="bird-option" *ngFor="let bird of birds"
        (click)="showBirdInfo(bird, $event)"
        [class.current]="currentBird === bird">
        <div class="option-icon">
            <img class="bird-icon" src="{{bird.image}}" alt="">
        </div>
        <span class="name" >{{bird.name}}</span>
    </div>
    </div>
</div>