.side-menu {
    height: 100%;
    width: 100%;
    border-right: #769637 1px solid;
    box-shadow: 2px 2px 4px rgb(143, 143, 143);
    box-sizing: border-box;
    .header {
        background: #6d8a33;
        height: 120px;
        padding: 15px;
        font-size: 2rem;
        color: white;
        display: flex;
        flex-flow: row;
        align-items: center;
        box-sizing: border-box;
        .app-logo {
            height: 70px;
            margin-right: 10px;
        }
        .brand {

        }
    }
    .menu {
        display: flex;
        flex-flow: column;
        height: calc(100% - 120px);
        width: 100%;
        justify-content: flex-start;
        background: #8fb14b;
        overflow: auto;
        .bird-option {
            height: 100px;
            background: #8fb14b;
            border-left: 2px solid #ffffff00;
            padding: 10px;
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            box-sizing: border-box;
            transition: 0.3s ease-in-out all;
            .option-icon{
                height: 100%;
                width: 80px;
                margin: 5px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                .bird-icon {
                    height: 60px;
                    width: 60px;
                    border: 2px solid white;
                    border-radius: 10px;
                    margin: auto;
                    transition: 0.3s ease-in-out all;
                }
            }
            .name {
                font-size: 1.5rem;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                background: rgb(121, 163, 37);

                .option-icon{    
                    .bird-icon {
                        height: 65px;
                        width: 65px;
                        border: 2px solid white;
                        border-radius: 10px;
                        margin: auto;
                    }
                }
                .name {
                    font-size: 1.5rem;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                } 
            }
            &:active {
                background: #a7ca61;
            }
            
        }
        .current {
            background: #a7ca61;
            border-left: 4px solid white;
        }
    }
}